# Dependencies management.
# 
# Current extension does not require any dependencies.
# Those dependencies are required by the building scripts.
node_modules
pnpm-lock.yaml

# This color theme is managed by scripts rather than developers.
# This color theme extension is available only after running the build scripts.
themes/vue-color-theme.json

# Ignore output vsix file
*.vsix
