# Dependencies management about the build script
# rather than necessary json config codes.
node_modules
pnpm-lock.yaml

# Ignore and attributes config files for git,
# which is not necessary for vscode ext.
.gitattributes
.gitignore

# Prettier configurations.
.prettierignore
.prettierrc.yaml

# Repo editor configurations.
.vscode

# Ignore sketches files about the icon design.
sketches

# Build script files
build-cjk.ts
